<main>
    <section class="header1 cid-rArAIiVrZd" id="header01-1n" data-sortbtn="btn-primary">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35)"></div>
        <div class="container">
            <div class="row">
                <div class="mbr-white">
                    <div>
                        <h1 class="">
                            <div>ECUADOR</div>
                        </h1>
                    </div>
                    <div id="imgEC" >
                        <figure class="figure">
                            <img src="https://pbs.twimg.com/media/BQdOIcpCMAAmEAO.jpg"
                                class="figure-img img-fluid rounded">
                        </figure>
                    </div>
                    <div class="textEC">
                        <h3>
                            <div>El país de los 4 mundos</div>
                        </h3>
                        <p>
                            Desde antiguos volcanes hasta la inmensidad de la selva amazónica
                            pasando por blancas playas y verdes bosques. Ecuador es uno de los
                            países que más diversidad natural posee en el mundo con miles de
                            especies de fauna y flora diferentes. Eso sin hablar de su gran
                            riqueza cultural, histórica y gastronómica.
                        </p>
                    </div>                
                </div>
            </div>
        </div>
    </section>
</main>